.menu li, .tabs li {
	display:block;
	list-style:none;
	float:left;
}

.tabs li {
	margin-right:10px;
}

.tabs {
	margin:10px 0px;
}

.fa {
	display:none;
	margin:0px;
	padding:0px;
}

.page-header h2 {
	float:left;
	width:auto;
}

.page-header .button {
	float:right;
}

.page-header .navigation {
	border-left:0px;
}

form {
	overflow:hidden;
}

.input-container {
	display:block;
	width:100%;
}

label {
	display:block;
	width:100%!important;
	margin:0px;
	padding:11px;
	overflow:visible;
}

.input-container input, .input-container textarea {
	display:block;
	width:100%!important;
	margin:0px;
	padding:10px;
	overflow:visible;
}

button, .button {
	overflow:visible;
}

.checkbox input {
	display:block;
	float:left;
	margin-right:10px;
}
