@media (max-width:725px) {
	body {
		font-size:105%;
		-webkit-text-size-adjust:100%;
	}
	
	#all {
		width:95%;
	}
	
	label {
		width:100%;
		border-bottom-left-radius:0px;
		border-top-right-radius:5px;
		display:block;
		padding:10px;
	}
	
	input, select, textarea {
		border-bottom-left-radius:5px;
		border-top-right-radius:0px;
	}
	
	input[type="checkbox"] {
		margin-right:10px;
	}
	
	.checkbox label {
		padding:0px;
	}
	
	.menu ul {
		width:100%;
	}
	
	.menu .fa {
		display:block;
		margin-right:0px;
	}
	
	.menu a span, .tabs a span, button span {
		display:none;
		clear:none;
	}
    
    .tabs ul {
        width:100%;
    }
	
	.bottom {
		display:table;
		table-layout:fixed;
		width:100%;
	}
	
	.bottom .button, .divider, input[type="button"], input[type="submit"], button {
		display:table-cell;
		text-align:center;
	}
	
	button[name="claim"] {
		border-top-right-radius:0px;
	}
	
	.divider {
		width:10px;
	}
	
	.float-right {
		float:none;
		margin-left:0px;
		margin-bottom:10px;
	}
}

@media (max-width:1000px) {
	body {
		-webkit-text-size-adjust:100%;
	}

	#all {
		width:95%;
	}
}