@media (max-width:725px) {
	body {
		font-size:95%;
		-webkit-text-size-adjust:100%;
	}
	
	#all {
		width:95%;
	}
	
	label {
		width:100%;
		border-bottom-left-radius:0px;
		border-top-right-radius:5px;
		display:block;
		padding:10px;
	}
	
	input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="file"], select, textarea, .checkbox, .simpleselect, .simpleselect .options {
		border-bottom-left-radius:5px;
		border-top-right-radius:0px;
	}
	
	.checkbox, input[type="date"], .simpleselect {
		display:block;
	}
	
	.menu ul {
		width:100%;
	}
	
	.menu .fa {
		display:block;
		margin-right:0px;
	}
	
	a span {
		display:none;
		clear:none;
	}
	
	.tabs ul {
		width:100%;
	}
	
	.tabs li {
		text-align:center;
	}
	
	.bottom {
		display:table;
		table-layout:fixed;
		width:100%;
	}
	
	.bottom .button, .bottom button, .divider, .bottom input[type="button"], .bottom input[type="submit"] {
		display:table-cell;
		text-align:center;
		width:100%;
	}
	
	.divider {
		width:10px;
	}
	
	.fixed {
		width:100%;
	}
	
	thead .icon {
		width:auto;
	}
	
	.float-right {
		float:none;
		margin-bottom:10px;
		margin-left:0px;
	}
	
	.page-header .button {
		text-align:center;
	}
	
	.page-header .button .fa {
		margin-right:0px;
	}
	
	.navigation label {
		display:none;
	}
	
	.navigation .simpleselect, .navigation .simpleselect .options {
		border-radius:5px;
	}
}

@media (max-width:1000px) {
	body {
		-webkit-text-size-adjust:100%;
	}

	#all {
		width:95%;
	}
}