/* Reset and start */
* {
	font-size:1em;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:300;
	outline:0px;
	margin:0px;
	padding:0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	background:#e3e3e3;
	color:#444;
	font-size:105%;
	overflow-y:scroll;
	-ms-touch-action:manipulation;
	touch-action:manipulation;
}

/* Font styling */
h1, h2, h3 {
	margin-bottom:10px;
}

h1 {
	font-size:1.6em;
}

h2 {
	font-size:1.4em;
}

h3 {
	font-size:1.2em;
}

img {
	border:0px;
	display:block;
}

a {
	color:#006699;
	text-decoration:none;
}

a:hover, a:focus, .tabs .active a, #header a {
	color:#000;
	background-color:transparent;
}

p {
	margin-bottom:10px;
}

p:last-child {
	margin-bottom:0px;
}

.list {
	margin-left:20px;
	margin-bottom:10px;
}

.clear {
	clear:both;
}

.divider {
	display:inline;
}

.fa {
	margin-right:10px;
}

/* Floating and align */
.float-left {
	display:block;
	float:left;
	margin-right:10px;
}

.float-right {
	display:block;
	float:right;
	margin-left:10px;
}

.left {
	text-align:left;
}

.center {
	text-align:center;
}

.right {
	text-align:right;
}

/* Basic */
#all {
	width:90%;
	margin:10px auto;
}

#header {
	padding:10px;
	background:#fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#header h1 {
	margin:0px;
	font-size:1.7em;
}

#header h1 a:focus {
	border-bottom:1px dotted #444;
}

#content {
	padding:10px;
	background:#fff;
	border-radius:5px;
	margin-top:10px;
}

.footer {
	margin-top:10px;
	text-align:center;
	font-size:0.9em;
	color:#aaa;
}

/* Menu */
.menu {
	background:#006699;
	width:100%;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
}

.menu ul {
	display:table;
}

.menu li {
	display:table-cell;
	text-align:center;
}

.menu a {
	padding:10px;
	display:block;
	color:#fff;
}

.menu a:hover, .menu .active a {
	background:#005580;
}

.menu a:focus {
	background:#004466;
}

/* Tabs */
.tabs {
	margin-bottom:-20px;
	width:100%;
}

.tabs ul {
	display:table;
	margin:0;
	border-collapse:separate;
	border-spacing:10px;
}

.tabs li {
	display:table-cell;
	background:white;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
	padding:10px;
}

.tabs li a {
	font-size:0.90em;
	display:block;
}

/* Combined header */
.page-header {
	margin-bottom:10px;
	display:table;
	width:100%;
}

.page-header h2 {
	display:table-cell;
	vertical-align:middle;
	width:100%;
}

.page-header .button {
	display:table-cell;
	white-space:nowrap;
}

.page-header .navigation {
	display:table-cell;
	border-left:10px solid #fff;
}

.navigation label, .navigation .simpleselect {
	width:50%;
}

.navigation .simpleselect {
	width:auto;
	min-width:3em;
}

/* Uploadformulier */
form {
	width:100%;
}

.input-container {
	display:table;
	border-collapse:separate;
	width:100%;
	margin-bottom:10px;
}

.input-container:last-child {
	margin-bottom:0px;
}

label {
	display:table-cell;
	width:40%;
	padding:0px 10px;
	background:#ddd;
	white-space:nowrap;
	vertical-align:middle;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

input[type="text"], input[type="password"], input[type="email"], input[type="date"], input[type="file"], textarea, select, .checkbox {
	display:table-cell;
	margin:0px;
	width:100%;
	-moz-appearance:none;
	-webkit-appearance:none;
	border-radius:0px;
	padding:10px;
	border:1px solid #ddd;
	background:#fff;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	color:#444;
}

textarea {
	height:auto;
	resize:none;
	-webkit-overflow-scrolling:touch;
	-webkit-transition:height 0.2s;
	-moz-transition:height 0.2s;
	transition:height 0.2s;
}

input[disabled], textarea[disabled], select[disabled='disabled'] {
	-webkit-text-fill-color:#444;
	-webkit-opacity:1;
}

input:focus, textarea:focus, .simpleselect .options {
	-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;
	-moz-box-shadow:inset 0 0 1px 1px #e3e3e3;
	box-shadow:inset 0 0 1px 1px #e3e3e3;
}

input[type="button"], input[type="submit"], button, .button {
	padding:11px;
	width:auto;
	background:#006699;
	border-radius:5px;
	border:0px;
	color:#fff;
}

input[type="button"]:hover, input[type="button"]:focus, input[type="submit"]:hover, input[type="submit"]:focus, .button:hover, .button:focus, button:hover, button:focus {
	background:#005580;
	cursor:pointer;
	color:#fff;
}

.optional {
	color:#888;
	font-size:0.9em;
}

/* File input */
input[type="file"] {
	font-size:0.75em;
}

input[type="file"]::-webkit-file-upload-button {
	padding:6px;
	cursor:pointer;
	background:#ddd;
	border-radius:5px;
	border:0px;
	-webkit-appearance:none;
}

/* Checkbox */
.checkbox label {
	background:none;
	border-radius:0px;
	padding:0px;
}

input[type="checkbox"] {
	display:none;
}

input[type=checkbox] + label:before {
	font-family:FontAwesome;
	display:inline-block;
	letter-spacing:0px;
}

input[type=checkbox] + label:before {
	content:"\f096";
	letter-spacing:10px;
}

input[type=checkbox]:checked + label:before {
	content:"\f046";
	letter-spacing:8px;
}

input[type="checkbox"] + label:hover {
	cursor:pointer;
}

/* Select */
.simpleselect {
	display:table-cell;
	width:100%;
	-webkit-user-select:none;
	-moz-user-select:none;
	-ms-user-select:none;
}

.simpleselect .placeholder {
	border:1px solid #ddd;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
}

.simpleselect .placeholder:after {
	content:"\f0dc";
	position:absolute;
	font-family:FontAwesome;
	font-size:1.2em;
	right:10px;
	color:#aaa;
}

.simpleselect .options {
	width:100%;
	background:#fff;
	border:1px solid #bbb;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	overflow:hidden;
	margin-bottom:10px;
}

.simpleselect .option {
	border-bottom:1px solid #bbb;
}

.simpleselect .option:last-child {
	border-bottom:0px;
}

.simpleselect .options .option.active {
	background:#EDEDED;
}

/* Tables */
table {
	width:100%;
	border-collapse:separate;
	border-radius:5px;
	border-spacing:1px;
	text-align:left;
	background:#ddd;
	table-layout:fixed;
}

thead th {
	font-weight:400;
	padding:10px;
	overflow:hidden;
	word-wrap:break-word;
	font-size:100%;
	height:auto;
}

td {
	background:#fff;
	overflow:hidden;
	padding:10px;
	overflow:hidden;
	word-wrap:break-word;
}

th {
	font-size:0%;
	height:5px;
}

thead:first-child tr:first-child th:first-child {
	border-radius:5px 0px 0px 0px;
}

thead:first-child tr:first-child th:last-child {
	border-radius:0px 5px 0px 0px;
}

tbody tr:last-child td:first-child {
	border-radius:0px 0px 0px 5px;
}

tbody tr:last-child td:last-child {
	border-radius:0px 0px 5px 0px;
}

.image img {
	width:100%;
	display:block;
	border-radius:5px;
}

.id {
	width:3em;
}

.actions-1 {
	width:9em;
}

.actions-2 {
	width:18em;
}

td .button {
	margin-right:10px;
	padding:7.5px;
}

td .button .fa {
	margin-right:7.5px;
}

td .button:last-child {
	margin-right:0px;
}

/* (Coloured) boxes */
.box {
	border-radius:5px;
	padding:11px;
	margin-bottom:10px;
	overflow:hidden;
}

.grey {
	background:#EDEDED;
}

.green {
	background:#339966;
	color:#fff;
}

a.green:hover, a.green:focus, button.green:hover, button.green:focus {
	background:#2D8659;
}

.red {
	background:#990000;
	color:#fff;
}

a.red:hover, a.red:focus, button.red:hover, button.red:focus {
	background:#800000
}

.box li {
	margin-left:20px;
}

/* Single */
.single {
	display:table;
	table-layout:fixed;
	width:100%;
}

.single-box {
	display:table-cell;
	vertical-align:top;
	border-right:10px solid #fff;
}

.single-box:last-child {
	border-right:0px;
}

.holder {
	display:table;
	width:100%;
	margin-bottom:10px;
}

.holder div {
	display:table-row;
}

.holder .title, .holder .content {
	display:table-cell;
	word-wrap:break-word;
}

.holder .title {
	width:40%;
	font-weight:400;
	border-right:5px solid #fff;
}

.holder .content {
	width:60%;
}

.single .image {
	width:12.5%;
}

.single-box img {
	width:100%;
	display:block;
	border-radius:5px;
}

/* Lightbox */
#imagelightbox {
	position:fixed;
	z-index:9999;
	-ms-touch-action:none;
	touch-action:none;
	background:#fff;
	padding:10px;
	border-radius:5px;
	cursor:pointer;
}

#imagelightbox-loading {
	color:#fff;
	position:fixed;
	z-index:10003;
	-ms-touch-action:none;
	touch-action:none;
	border-radius:5px;
	top:50%;
	left:50%;
}

#imagelightbox-overlay {
	background-color:#fff;
	background-color:rgba(0,0,0,0.75);
	position:fixed;
	z-index:9998;
	top:0;
	right:0;
	bottom:0;
	left:0;
}

#imagelightbox-close {
	position:fixed;
	z-index:10002;
	top:10px;
	right:10px;
}

#imagelightbox-loading .fa, #imagelightbox-close .fa {
	margin-right:0px;
}

/* Firefox fixes */
input::-moz-focus-inner, button::-moz-focus-inner {
	border:0px;
}

/* Placeholders */
::-webkit-input-placeholder {
	color:#aaa;
}

:-moz-placeholder {
	color:#aaa;
	opacity:1;
}

::-moz-placeholder {
	color:#aaa;
	opacity:1;
}

:-ms-input-placeholder {
	color:#aaa;
}
