/* allez */
* {
	font-size:1em;
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	font-weight:200;
	outline:0px;
	margin:0px;
	padding:0px;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
}

html {
	background:#e3e3e3;
	color:#444;
	font-size:120%;
}

/* Tekstopmaak */
h1, h2, h3 {
	margin-bottom:10px;
}

h1 {
	font-size:1.5em;
}

h2 {
	font-size:1.3em;
}

h3 {
	font-size:1.1em;
}

a {
	color:#006699;
	text-decoration:none;
	border:0px;
}

a:hover, a:focus {
	color:#000;
}

img {
	display:block;
}

p {
	line-height:125%;
	margin-bottom:10px;
}

p:last-child {
	margin-bottom:0px;
}

#content li {
	margin-left:20px;
}

.clear {
	clear:both;
}

.divider {
	display:inline;
}

.float-left {
	float:left;
	margin-right:10px;
	display:block;
}

.float-right {
	float:right;
	margin-left:10px;
	display:block;
}

.page {
	margin-right:5px;
}

/* de hele site*/
#all {
	width:90%;
	margin:10px auto;
}

#header {
	padding:10px;
	background:#fff;
	border-top-left-radius:5px;
	border-top-right-radius:5px;
}

#header h1 {
	margin:0px;
	font-size:1.7em;
}

#content {
	padding:10px;
	background:#fff;
	border-radius:5px;
	margin-top:10px;
}

/*menu*/
#menu ul {
	background:#006699;
	border-bottom-left-radius:5px;
	border-bottom-right-radius:5px;
}

#menu li {
	display:inline-block;
}

#menu a {
	padding:10px;
	display:inline-block;
	color:#fff;
}

#menu .fa {
	color:#fff;
	display:none;
}

/* Boxes */
.info {
	background:#EDEDED;
	border-radius:5px;
	padding:11px;
	margin-bottom:10px;
	overflow:hidden;
}

.succes {
	background:#339966;
	border-radius:5px;
	color:#fff;
	padding:11px;
	margin-bottom:10px;
	overflow:hidden;
}

.error {
	background:#990000;
	border-radius:5px;
	color:#fff;
	padding:11px;
	margin-bottom:10px;
	overflow:hidden;
}

.error li {
	line-height:125%;
	margin-left:20px;
}

/* Uploadformulier */
form {
	width:100%;
}

.input-container {
	position:relative;
	display:table;
	border-collapse:separate;
	width:100%;
	margin-bottom:10px;
}

.input-container:last-child {
	margin-bottom:0px;
}

label {
	display:table-cell;
	white-space:nowrap;
	vertical-align:middle;
	width:35%;
	padding-left:10px;
	background-color:#fff;
	background:#ddd;
	border-top-left-radius:5px;
	border-bottom-left-radius:5px;
}

.checkbox label {
	background:none;
}

.fa {
	margin-right:5px;
}

input, textarea, select, .checkbox {
	display:table-cell;
	margin:0px;
	width:100%;
	-webkit-appearance:none;
	border-radius:0px;
	padding:10px;
	border:1px solid #ddd;
	position:relative;
	z-index:2;
	float:left;
	border-top-right-radius:5px;
	border-bottom-right-radius:5px;
	color:#444;
}

textarea {
	height:300px;
	resize:none;
}

input:focus, textarea:focus {
	-webkit-box-shadow:inset 0 0 1px 1px #e3e3e3;
	-moz-box-shadow:inset 0 0 1px 1px #e3e3e3;
	box-shadow:inset 0 0 1px 1px #e3e3e3;
}

textarea[readonly="readonly"]:focus {
	-webkit-box-shadow:0px;
	-moz-box-shadow:0px;
	box-shadow:0px;	
}

input[type="checkbox"] {
	-webkit-appearance:checkbox;
	height:25px;
	width:25px;
	margin-right:-5px;
}

input[type="button"], input[type="submit"], .button {
	padding:11px;
	width:auto;
	background:#ddd;
	border-radius:5px;
	border:0px;
	color:#444;
	display:inline-block;
	line-height:middle;
}

input[type="file"] {
	font-size:0.75em;
}

input[type="file"]::-webkit-file-upload-button {
	padding:6px;
	cursor:pointer;
	background:#ddd;
	border-radius:5px;
	border:0px;
	-webkit-appearance:none;
}

input[type="button"]:hover, input[type="submit"]:hover, .button:hover {
	background:#ccc;
	cursor:pointer;
}

.optional {
	color:#888;
	font-size:0.9em;
}

.yes {
	background:#339966;
	border-radius:5px;
	color:#fff;
}

.yes:hover, .yes:focus {
	background:#2D8659;
	color:#fff;
}

.no {
	background:#990000;
	color:#fff;
}

.no:hover, .no:focus {
	background:#800000;
	color:#fff;
}

/* Tables */
table {
	width:100%;
	border-collapse:separate;
	border-spacing:1px;
	border-radius:5px;
	text-align:left;
	background:#ddd;
	border:0px;
	table-layout:fixed;
}

thead th {
	font-weight:400;
}

td {
	background:#fff;
}

td, th {
	padding:10px;
}

thead:first-child tr:first-child th:first-child, tbody:first-child tr:first-child td:first-child {
	border-radius:5px 0 0 0;
}

thead:last-child tr:last-child th:first-child, tbody:last-child tr:last-child td:first-child {
	border-radius:0 0 0 5px;
}

/* detailpagina */
.detail{
	float:left;
	margin:25px;
	max-width:15%;
}

/* Firefox die soms doet te kutten */
input::-moz-focus-inner{ 
	border:0px; 
}

/* Placeholders */
::-webkit-input-placeholder { /* WebKit browsers */
	color:#aaa;
}
:-moz-placeholder { /* Mozilla Firefox 4 to 18 */
	color:#aaa;
	opacity:1;
}
::-moz-placeholder { /* Mozilla Firefox 19+ */
	color:#aaa;
	opacity:1;
}
:-ms-input-placeholder { /* Internet Explorer 10+ */
	color:#aaa;
}

/* Responsive */
@media only screen and (max-width:1024px) {
	body {
		font-size:90%;
		-webkit-text-size-adjust:100%;
	}
	
	#all {
		width:95%;
	}
	
	label {
		width:100%;
		border-bottom-left-radius:0px;
		border-top-right-radius:5px;
		display:block;
		padding:10px;
	}
	
	input, select, textarea {
		border-bottom-left-radius:5px;
		border-top-right-radius:0px;
	}
	
	#menu ul {
		display:table;
		padding:10px 0px;
		table-layout:fixed;
		border-collapse:collapse;
		width:100%;
	}

	#menu li {
		display:table-cell;
		text-align:center;
	}

	#menu a {
		color:#fff;
		width:100%;
		display:block;
	}
	
	#menu .fa {
		display:inline-block;
		margin-right:0px;
	}
	
	#menu div {
		display:table-row;
	}
	
	#menu a span {
		display:none;
	}
	
	#menu .float-right {
		float:none;
		margin:0px;
	}
	
	.bottom {
		display:table;
		table-layout:fixed;
		width:100%;
	}
	
	.bottom .button, .divider, input[type="button"], input[type="submit"] {
		display:table-cell;
		text-align:center;
		width:100%;
	}
	
	.divider {
		width:10px;
	}
	
	.float-right {
		float:none;
		margin-left:0px;
	}
}

@media only screen and (min-width:1824px) {
	#all {
		width:50%;
	}
}