/* allez */
*{
	font-family:"Helvetica Neue", Helvetica, Arial, sans-serif;
	-moz-box-sizing:border-box;
	-webkit-box-sizing:border-box;
	box-sizing:border-box;
	outline:0px;
}

/* de hele site*/
#all{
	width:80%;
	/*min-width: 800px;*/
	margin:auto;
}

/*menu*/
#menu ul li{
	display:inline;
	padding-right:10px;
}

/*melding niet uploaden*/
#bad{
	background-color:#FF3300;
	height:75px;
	width:100%;
}

#bad p{
	font-size:22pt;
}

/*melding wel uploaden*/

#good{
	background-color:#00FF00;
	height:75px;
	width:100%;
}

#good p{
	font-size:22pt;
}

/* Button */
.button{
	border-radius:3px;
	text-indent:0px;
	font-size:15px;
	font-weight:bold;
	font-style:normal;
	text-decoration:none;
	text-align:center;
	height:37px;
	line-height:37px;
	display:inline-block;
}

.button:active{
	position:relative;
	top:1px;
}

/*vraagknop*/
.question{
	-moz-box-shadow:inset 0px 1px 0px 0px #ffffff;
	-webkit-box-shadow:inset 0px 1px 0px 0px #ffffff;
	box-shadow:inset 0px 1px 0px 0px #ffffff;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ededed), color-stop(1, #dfdfdf) );
	background:-moz-linear-gradient( center top, #ededed 5%, #dfdfdf 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ededed', endColorstr='#dfdfdf');
	background-color:#ededed;
	border:1px solid #dcdcdc;
	color:#777777;
	width:75px;
	text-shadow:1px 1px 0px #ffffff;
	margin-right:35px;
}

.question:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #dfdfdf), color-stop(1, #ededed) );
	background:-moz-linear-gradient( center top, #dfdfdf 5%, #ededed 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#dfdfdf', endColorstr='#ededed');
	background-color:#dfdfdf;
}

/*backbutton in geval van fout antwoord*/ 
.back {
	-moz-box-shadow:inset 0px 1px 0px 0px #f29c93;
	-webkit-box-shadow:inset 0px 1px 0px 0px #f29c93;
	box-shadow:inset 0px 1px 0px 0px #f29c93;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #fe1a00), color-stop(1, #ce0100) );
	background:-moz-linear-gradient( center top, #fe1a00 5%, #ce0100 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#fe1a00', endColorstr='#ce0100');
	background-color:#fe1a00;
	border:1px solid #d83526;
	color:#ffffff;
	width:200px;
	text-shadow:1px 1px 0px #b23e35;
	margin-top:30px;
}

.back:hover{
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #ce0100), color-stop(1, #fe1a00) );
	background:-moz-linear-gradient( center top, #ce0100 5%, #fe1a00 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#ce0100', endColorstr='#fe1a00');
	background-color:#ce0100;
}

/*uploadbutton*/ 
.upload {
	-moz-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	-webkit-box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	box-shadow:inset 0px 1px 0px 0px #d9fbbe;
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #a3c94a), color-stop(1, #6c9415) );
	background:-moz-linear-gradient( center top, #a3c94a 5%, #6c9415 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#a3c94a', endColorstr='#6c9415');
	background-color:#a3c94a;
	border:1px solid #83c41a;
	color:#ffffff;
	height:50px;
	line-height:50px;
	width:100px;
	text-shadow:1px 1px 0px #86ae47;
}
.upload:hover {
	background:-webkit-gradient( linear, left top, left bottom, color-stop(0.05, #6c9415), color-stop(1, #a3c94a) );
	background:-moz-linear-gradient( center top, #6c9415 5%, #a3c94a 100% );
	filter:progid:DXImageTransform.Microsoft.gradient(startColorstr='#6c9415', endColorstr='#a3c94a');
	background-color:#6c9415;
}

/* tekstveld uitleg */
.tooltip{
	position:relative; 
	z-index:20;
}

.tooltip span{
	display:none;
}

.tooltip:hover{
	z-index:21;
}

.tooltip:hover span{
	display:block;
	width:400px;
	text-align:left;
	padding:5px;
	color:#fff;
	background-color:#535663;
	font-size:13px;
	text-decoration:none;
	position:absolute;
	border-radius:6px;
	top:20px;
	left:-10px;
}

.tooltip img{
	width:20px;
}

/* Uploadformulier */
label{
	margin:0px;
	padding:0px;
	vertical-align:top;
	width:50%;
	padding:10px;
	margin-bottom:10px;
	float:left;
	text-align:right;
	background:#eee;
	border:1px solid #bbb;
	border-right:0px;
	display:block;
	font-size:0.9em;
}

input, textarea, select{
	margin:0px;
	padding:0px;
	-webkit-appearance:none;
	border-radius:0px;
	padding:10px;
	margin-bottom:10px;
	width:50%;
	border:1px solid #bbb;
	color:#333;
	font-size:0.9em;
}

textarea {
	height:200px;
	resize:none;
}

input:focus, textarea:focus{
	-webkit-box-shadow:0 0 1px 1px #bbb;
	-moz-box-shadow:0 0 1px 1px #bbb;
	box-shadow:0 0 1px 1px #bbb;
}

input[type="submit"] {
	padding:11px;
	width:auto;
	float:right;
}

/* detailpagina */
.detail{
	float:left;
	margin:25px;
	max-width:15%;
}

/* Firefox die soms doet te kutten */
input::-moz-focus-inner{ 
	border:0px; 
}